/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/Builds/
/Recordings/
/.vs/
/.idea/
**/bin/
**/obj/
/*.csproj
/*.sln
*.user
*.pidb
*.pdb
*.opendb
*.VC.db
/Artifacts/*.log
/Artifacts/*.json
/Artifacts/*.xml
/Artifacts/*.png
/Artifacts/*.txt
/Assets/AvoiderShowcase/Editor/automation-request.txt
/Assets/AvoiderShowcase/Editor/automation-request.txt.meta
/Assets/Resources/PerformanceTestRunInfo.json*
/Assets/Resources/PerformanceTestRunSettings.json*
